/* CSS declarations go here */
html, body, #map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map-canvas {
  width:750px
}

#email-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 160%;
    position: relative;
    height: 40px;
    width: 100%;
}

#email {
   position: absolute;
   width: 100%;
}
